/* main */

.sy .content {
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.sy h1 {
    text-align: center;
    line-height: 100px;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 5px;
}

.sy h3 {
    text-indent: 2em;
    line-height: 40px;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
}